DatabaseUri: "mysql+pymysql://root:xep624@localhost/lif_1" #Be sure to change user:password@adress/database_name there


#Developer tools. You don't have to change anything below.
DebugIgnoreDayWait: false #only for debugging. don't set it to true, or program will not wait for another day to enable daily_tick